<div
  id="navbar-web"
  class="col-span-2 bg-[#0D28A6] text-white h-screen hidden md:block"
>
  <ul class="flex flex-col gap-4 p-4">
    <li>
      <a href="/dashboard" class="block py-2">Dashboard</a>
    </li>
    <li>
      <a href="/users" class="block py-2">Users</a>
    </li>
    <li>
      <a href="/products" class="block py-2">Products</a>
    </li>
    <li>
      <a href="/logout" class="block py-2">Logout</a>
    </li>
  </ul>
</div>

<div
  id="navbar-mobile"
  class="col-span-2 bg-[#0D28A6] text-white h-screen flex justify-center items-center md:hidden"
></div>
